@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

html, body {
	font-size: $font-normal;
	font-weight: $fw-regular;
	font-family: $open-sans;
}

h2 {
	text-transform: uppercase;
	font-size: $font-large;
	font-weight: $fw-regular;
}